body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #246BA5 20.2%, #ddd0d9 91.1%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html, body {
    height: 100%;
}

.header img{
    width: 300px;
    height:250px;
}

#dangtints, #quanly, #thongtin, #logout, #taikhoan {
    display: none; 
}

#taikhoan , #date{
    white-space: nowrap;
    padding: 0px 10px;
}

/* header */
.header {
    background: #09447E;
    border-bottom: 1px solid silver;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-self: center;
    height: 30px;
    padding: 10px;
}

/* icon hnue & date */
.menu1 {
    width: 240px;
    color: white;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu1 > li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu1 > li > img{
    width: 40px;
    height: 40px;
    padding: 1%;
}

/* #date {
    text-align: center;
}*/
#taikhoan i {
    margin-right: 8px; /* Khoảng cách giữa icon và chữ */
    font-size: 15px; /* Kích thước của icon */
}

/* Menu*/
.menu {
    list-style: none;
    margin: 0;
    display: flex;
}

.menu > li {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu > li > a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.menu > li:hover > a {
    color: silver;
}

.menu > li > a > p, .menu > li > a > i{
    color: white;   /* màu chữ đăng nhập, liên hệ */
}

/* Menu left*/
#left {
    margin-left: 0;
}

.submenu {
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    box-shadow: 10px 5px 12px 0px rgb(194, 220, 255);
    list-style: none;
    padding: 2%;
    margin-top: 10%;
    width: 200px;
    position: absolute;
    top: 30px;
    left: 0%;
    display: none;
    border-radius: 10px;
}

.menu > li:hover > .submenu {
    display: block;
}

.submenu > li > a {
    color: #333;  
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.submenu > li > a:hover {
    background: #ddd; 
    color: #09447E;  
    border-radius: 10px;
}

/* Nút tìm kiếm */
.search-bar {
    display: none;
    border-radius: 10px;
    height:30px;
    width: 180px;
    margin: 0% 0% 0% 10%;
    border: 2px solid black;
}
    
/* Icon thu gọn */
.nut {
    display: none;
    font-size: 23px; 
    cursor: pointer;
}

@media (max-width: 750px) {
    .menu {
        display: none;
    }

    .nut {
        display: block;
    }

    .menu.active li {
        margin: 10px 0;
        border-right: none;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right:0;
        width: 27%;
        padding: 1%;
        background: darkslategray;
    } 

    .submenu {
        background: black;
        margin-left: -100%;
        margin-top: -45px;
    }

    input {
        position: absolute;
        margin-top:50% ;
        margin-left: -130%;
    }
}

@media (max-width: 600px) {
    #date {
        display: none;
    }
    
    .nut {
        display: block;
    }
    
    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45px;
        right:0;
        width: 30%;
        padding: 2%;
    }
    
    .submenu {
        margin-left: -120%;
        margin-top: 0;
    }
    
    input {
        margin-top: 116%;
        margin-left: 0;
    }
}

@media (max-width: 1200px) {
    #hide {
        display: none;
    }
}

/* menu right */
.menu .login a,
.menu .logout a,
.menu .taikhoan a,
.menu .cont a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.menu .login p,
.menu .logout p,
.menu .taikhoan p,
.menu .cont p {
    margin-left: 5px;
}

.hidden {
    display: none;
}

/* Giới thiệu */
.gioithieu {
    width: 80%;
    padding: 40px 10%;
    text-align: center;
    background-color: #69abe1; /* Thêm màu nền nhẹ cho phần giới thiệu */
    border-radius: 10px; /* Bo góc phần giới thiệu */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Thêm bóng cho phần giới thiệu */
}

.gioithieu-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    transition: transform 0.3s ease;
}

.gioithieu-img:hover {
    transform: scale(1.05); /* Hiệu ứng phóng to hình ảnh khi hover */
}

.introduction h1 {
    color: #09447E;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}

.introduction p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.introduction h2 {
    color: #09447E;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.introduction ul {
    list-style-type: square;
    color: #333;
    font-size: 18px;
    text-align: left;
    margin: 0 34% 30px 34%;
}

.introduction a.contact-btn {
    padding: 12px 25px;
    background-color: #09447E;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}

.introduction a.contact-btn:hover {
    background-color: #246BA5;
}


/* Nội dung bài đăng */
.content {
    display: flex;
    padding: 20px;
    margin: 0 auto;
}
.news {
    display: block;
    margin: 0px -20px;
    gap: 20px;
}